h3 {
    background: linear-gradient(to right, rgb(2, 10, 0), rgb(232, 248, 8));
    text-align: center;
    font-size: 8rem;
    font-size: 700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 800px) {
    h3 {
        font-size: 4rem;

    }
}