@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300&family=Staatliches&family=Ubuntu:ital,wght@0,300;1,500&display=swap');

body {
    background: url(../images/img1.png) no-repeat center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow-y: hidden;   
}

main {
    background-color: #0008;
    border-radius: 1rem;
    margin: 1rem auto;
    height: 670px;
    width: 34rem;
}

header h1 {
    color: #fbff18;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-weight: 500;
    text-align: center;
}
header h1 a:link,
header h1 a:visited{
    color: #fffb00;
    text-decoration: none;
    position: absolute;
    left: 1rem;
    display: flex;
    transition: transform 0.2s ease-in;

}
header h1 a:hover {
    transform: translateX(-4px);
}
header h1 a svg {
    height: 2.5rem;
    width: 2.5rem;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.4rem;
    overflow-y: auto;
    height: 494px;
    gap: 0.4rem;
}

nav li {
    list-style: none;
}

nav li a:link,
nav li a:visited {
    background-color: #0003;
    color: #fffc39;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    padding: 0.4rem;
    transition: all 0.2s ease-in;
    border-radius: 2rem;
}

nav li a i {
    background-color: #fbff00;
    color: #050cdc8e;
    padding: 0.8rem;
    font-weight: 480;
    font-size: 1.7rem;
    font-style: normal;
    margin-right: 0.8rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    transition: all 0.2s 0.2s ease-in;
    border-radius: 2rem;
}

nav li a:hover {
    background-color: #000000aa;
    color: #25ff3e;
}

nav li a:hover i {
    transform: scale(1.25);
    color: #000000;
}
section{
    padding: 1.2rem;
    color: #ffffff;
}
section h1,
section h2 {
    color: #ffcc00;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 2px dashed #ffcc00;
}