doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title JavaScript
	body
		h1 JavaScript
		h3#msj
		script.
			var msj = document.getElementById('msj')
			var name = prompt('cual es tu nombre ?');
			if(name == 'Ofac') {
				msj.innerHTML = "bienvenido Instructor: "+name;
			} else {
				msj.innerHTML = "bienvenido: "+name;
			}
		